@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");
:root {
  --black: #181719;
  --gray: #828282;
  --ligthgray: #A9A9A9;
}

* {
  margin: 0px;
  padding: 0px;
  background-color: var(--black);
  color: white;
}

/*Desktop 1366*/
.navbar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  font-family: Crimson Pro;
  border: 1px solid white;
  width: 86px;
  padding: 5px;
  font-size: 14px;
  margin-left: 5%;
}

.navbar .hamburguer {
  display: none;
}

.navbar .links {
  margin-right: 2%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links li {
  list-style: none;
  display: block;
  font-family: Montserrat;
  font-size: 18px;
}

.navbar .links .underline {
  font-weight: 700;
  border-bottom: 1px solid white;
}

.container {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .title {
  width: 410px;
  margin-left: 84px;
}

.container .title h1 {
  font-family: Lora;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 40px;
}

.container .title span {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.container .title button {
  border: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  margin-top: 48px;
}

.container .title img {
  display: block;
  margin-left: 110px;
  margin-top: -19px;
}

.container .banner img {
  width: 737px;
  height: 555px;
  margin-left: 30px;
  position: relative;
  z-index: 1;
}

.container .banner .description {
  position: absolute;
  z-index: 3;
  width: 410px;
  height: 189px;
  background-color: var(--black);
  margin-left: 330px;
  margin-top: -80px;
  padding-top: 20px;
}

.container .banner .description img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.container .banner .description h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  margin-left: 100px;
  margin-top: -50px;
}

.container .banner .description span {
  display: block;
  margin-top: 10px;
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}

.container .banner .description h3 {
  font-family: Lora;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.7px;
  width: 287px;
  margin-top: 20px;
  margin-left: 30px;
}

footer {
  color: var(--ligthgray);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  margin-top: 200px;
  margin-left: 43%;
  padding-bottom: 20px;
}

/*Mobile 412*/
@media screen and (max-width: 420px) {
  .navbar .logo {
    margin-left: 0%;
  }
  .navbar .links {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .navbar .links li {
    padding-bottom: 40px;
  }
  .navbar .links .underline {
    padding-bottom: 0px;
    margin-bottom: 40px;
  }
  .navbar .links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .hamburguer {
    cursor: pointer;
    display: block;
    border: none;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .container .title {
    width: 274px;
    margin-left: 20px;
    margin-top: -150px;
  }
  .container .title h1 {
    font-size: 36px;
  }
  .container .title span, .container .title button {
    font-size: 14px;
    line-height: 17px;
  }
  .container .title img {
    margin-left: 90px;
    margin-top: -17px;
  }
  .container .banner {
    margin-left: -10px;
    margin-top: 37px;
  }
  .container .banner img {
    width: 351px;
    height: 264px;
  }
  .container .banner .description {
    margin-left: 60px;
    width: 300px;
    height: 138px;
  }
  .container .banner .description img {
    width: 36px;
    height: 36px;
  }
  .container .banner .description h4 {
    font-size: 12px;
    margin-top: -40px;
  }
  .container .banner .description span {
    font-size: 10px;
    margin-top: 5px;
  }
  .container .banner .description h3 {
    font-size: 18px;
  }
  footer {
    margin-left: 20%;
  }
}
/*# sourceMappingURL=styles.css.map */